{
    email {$ACME_EMAIL}
    auto_https disable_redirects
}

https://bill.getnet.store {
    bind 100.117.187.60

    tls {
        dns tencentcloud {
            secret_id {$TENCENTCLOUD_SECRET_ID}
            secret_key {$TENCENTCLOUD_SECRET_KEY}
        }
    }

    reverse_proxy 127.0.0.1:8000
}
